.ContactData {
    margin: 1.3rem auto;
    width: 80%;
    text-align: center;
}

.Input {
    display: block;
    margin: 0 auto;
    width: 60%;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}